actionlib==1.12.1
attrs==22.2.0
autobahn==21.2.1
Automat==22.10.0
catkin==0.7.29
catkin-pkg==1.0.0
cffi==1.15.1
constantly==15.1.0
cryptography==40.0.2
cycler==0.11.0
diagnostic_updater==1.9.7
docutils==0.18.1
future==1.0.0
gencpp==0.6.6
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.17
gennodejs==2.0.1
genpy==0.6.16
hyperlink==21.0.0
idna==3.6
incremental==22.10.0
lxml==5.1.0
matplotlib==2.0.2
mavros==1.16.0
message_filters==1.14.13
numpy==1.19.5
opencv-contrib-python==4.6.0.66
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pymavlink==2.4.41
pyOpenSSL==23.2.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0.1
rosbag==1.14.13
rosboost-cfg==1.14.9
rosclean==1.14.9
roscpp==1.15.11
roscreate==1.14.9
rosgraph==1.14.13
rosgraph-msgs==1.11.3.post2
roslaunch==1.14.13
roslib==1.14.9
roslibpy==1.6.0
roslz4==1.14.13
rosmake==1.14.9
rosmaster==1.14.13
rosparam==1.14.13
rospkg==1.5.0
rospy==1.14.13
rostest==1.14.13
rostopic==1.14.13
rosunit==1.14.9
scipy==1.5.4
sensor-msgs==1.12.8
service-identity==21.1.0
six==1.16.0
smclib==1.8.5
std-msgs==0.5.13.post0
tf2_py==0.6.5
tf2_ros==0.6.5
topic_tools==1.14.13
Twisted==22.4.0
txaio==22.2.1
typing_extensions==4.1.1
zope.interface==5.5.2
